.no-hover {
    width: 100%;
    padding: 0.4rem 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-hover:hover,
.no-hover:focus,
.no-hover:active {
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
    color: var(--bs-btn-color);
    box-shadow: none;
}